.category-list {
    width: 25%; /* 3 birime karşılık gelen genişlik */
    background-color: #d3d3d6;
    padding: 20px;
    height: 100vh; /* Sayfanın tam boyu */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .category-list h2 {
    text-align: center; /* Başlığı yatayda ortalamak için */
   width: 100%; /* Genişliği yüzde yüz yaparak ortalamayı sağlar */
    
    margin-bottom: 10px;
  }
  
  .category-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .category-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .category-list li:hover {
    background-color: #ddd;
  }
  